body {
  font-family: "Raleway";
  font-weight: bolder;

}
.submit-button {
  margin-top: 3em;
}

label {
  display: inline-block;
}

select {
  display: block;
  margin-bottom: 1.5em;
}

#result {
  margin-top: 1em;
  font-size: 3.5em;
}
