<div class="container">

  <header class="page-header text-center">
    <h1>Arabic Verb Conjugator</h1>
  </header>

  <div class="row form-container">
    <form id="conj-form">

      <div class="form-row">
        <div class="col-xs-4">
          <label>Root 3</label>
          <select class="form-control" name="root3">
            <%= erb :'partials/_alphabet', :layout => false, :locals => { :selected  => @root1, :stuff => @stuff } %>
          </select>
        </div>

        <div class="col-xs-4">
          <label>Root 2</label>
          <select class="form-control" name="root2">
            <%= erb :'partials/_alphabet', :layout => false, :locals => { :selected => @root2, :stuff => @stuff } %>
          </select>
        </div>

        <div class="col-xs-4">
          <label>Root 1</label>
          <select class="form-control" name="root1">
            <%= erb :'partials/_alphabet', :layout => false, :locals => { :selected => @root3, :stuff => @stuff } %>
          </select>
        </div>
      </div>

      <div class="col-s-12 text-center form-row">
        <label>Form</label>
        <select name="form" class="form-control">
          <option>I</option>
          <option>II</option>
          <option>III</option>
          <option>IV</option>
          <option>V</option>
          <option>VI</option>
          <option>VII</option>
          <option>VIII</option>
        </select>
      </div>

      <div class="col-s-12 text-center form-row">
        <label>Pronoun</label>
        <select name="pronoun" class="form-control">
          <option>I</option>
          <option>You(f)</option>
          <option>You(m)</option>
          <option>He</option>
          <option>She</option>
          <option>We</option>
          <option>You all</option>
          <option>They</option>
        </select>
      </div>

      <div class="col-s-12 text-center form-row">
        <label>Tense</label>
        <select name="tense" class="form-control">
          <option>Past</option>
          <option>Present</option>
        </select>
      </div>

      <div class="col-xs-12 text-center submit-button">
       <button type="submit" class="btn btn-info">Conjugate</button>
     </div>
    </form>
  </div>

  <div id="result" class="text-center">
  </div>

  <footer>
    <h5>Created by <a href="http://www.annewillborn.com">Anne Willborn</a></h5>
  </footer>

</div>

