<div class="container">
  <h1>Here are the users:</h1>

  <form method="post" action="/user">
    Name: <input type = "text" name="name"><br>
    Email: <input type = "text" name="email"><br>
    Age: <input type = "text" name="age"><br>
    <input type = "submit" value="Create a User">
  </form>
</div>
